{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>
  {% if content %}
    {#{{- content -}}#}
    <h3>
      {% if (content.field_nombre_user) %}
        ¡Hola {{ content.field_nombre_user.0 }}!
      {% else %}
        ¡Bienvenido, por favor editar su cuenta!
      {% endif %}
    </h3>
    <div class="row">
      <div class="col-2">
        {{ content.field_imagen_user }}
        <p><i class="far fa-edit"></i>&nbsp;<a href="/user/{{ user.id }}/edit">Editar cuenta</a></p>
        {% if 'editor_contenidos' in user.getroles  %}
          <p><i class="fas fa-plus"></i>&nbsp;<a href="/node/add">Añadir contenido</a></p>
          <p><i class="fas fa-cog"></i>&nbsp;<a href="/admin/content">Administrar contenido</a></p>
        {% endif %}
        <p><i class="fas fa-sign-out-alt"></i>&nbsp;<a href="/user/logout">Cerrar sesión</a></p>
      </div>
      <div class="col-10">{{ drupal_view('tiendas_favoritas', 'page_1') }}</div>
    </div>
  {% endif %}
</article>
